body {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #4c4eaf;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4c4eaf;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

a {
  margin-left: auto;
  color: #4c4eaf;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #ddd;
}

/* Styles.css */
